@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    2650 College Place<br />
    Fullerton, Ca 92831<br />
    <abbr title="Phone">Phone:</abbr>
    714.804.4603
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:ancrock@gmail.com">ancrock@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:ancrock@csu.fullerton.edu">ancrock@csu.fullerton.edu</a>
</address>