@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-color:mediumaquamarine">
    <img src="~/Content/HomeBanner.jpg" width="100%" height="100%" />
    <h1>KNOSH </h1>
    <p>verb: To eat enthusiastically or greedily.</p>
    <p>
        Knosh is a place where you will be able to find all the restaurants in your area. You can browse through the restaurants and all of
        its menus and order what you like from multiple restaurants at once!
        This can be done from wherever you are and have it delivered wherever you want! Join
        thousands of people who are already using Knosh. We keep on adding restaurants so you can knosh to your heart's content!
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Step 1: Browse</h2>
        <p>
            Browse menus from your favourite local restaurants. You can read reviews of other users and decide which restaurant is best for you.
        </p>
        <input class="btn btn-primary" type="button" value="Get Started" onclick="location.href='@Url.Action("Show_All", "Restaurants")'" /><br /><br />
    </div>
    <div class="col-md-4">
        <h2>Step 2: Add To Cart</h2>
        <p>Select what you want to eat and add it to cart. Submit your order.</p>
        @* <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>Step 3: The Delivery</h2>
        <p>Get the door and enjoy your food! Happy Knoshing!!</p>
        @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>*@
    </div>
</div>