<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://knosh.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>knosh.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Knosh</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$Knosh</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="JioContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:knosh.database.windows.net,1433;Initial Catalog=EntitiesDb;User ID=ancrock@knosh;Password=Nitinchaudhari71!" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Jio.Models.JioContext, Jio" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="Jio.Models.JioEntities" Order="2" Enabled="True">
          <Destination Path="Data Source=tcp:knosh.database.windows.net,1433;Initial Catalog=EntitiesDb;User ID=ancrock@knosh;Password=Nitinchaudhari71!" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Jio.Models.JioEntities, Jio" MigrationConfiguration="Jio.Migrations.Configuration, Jio" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="3" Enabled="True">
          <Destination Path="Data Source=tcp:knosh.database.windows.net,1433;Initial Catalog=EntitiesDb;User ID=ancrock@knosh;Password=Nitinchaudhari71!" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Jio.Models.ApplicationDbContext, Jio" MigrationConfiguration="Jio.Migrations.ApplicationDbContext.Configuration, Jio" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:knosh.database.windows.net,1433;Initial Catalog=EntitiesDb;User ID=ancrock@knosh;Password=Nitinchaudhari71!</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Jio.Models.JioEntities-Web.config Connection String">
      <ParameterValue>Data Source=tcp:knosh.database.windows.net,1433;Initial Catalog=EntitiesDb;User ID=ancrock@knosh;Password=Nitinchaudhari71!</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)JioContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:knosh.database.windows.net,1433;Initial Catalog=EntitiesDb;User ID=ancrock@knosh;Password=Nitinchaudhari71!</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="Jio.Models.JioEntities" />
  </ItemGroup>
</Project>